main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-grey);
    margin-left: 220px;
    width: 100%;

}
.main-container{
    display: flex;
    position: relative;
    margin: 0;
    background-color: var(--secondary-grey);
}