<aside>
    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="/library" routerLinkActive="active">
                    <i class="bi bi-collection-fill"></i> Library
                </a>
            </li>
            <li>
                <a>
                    <i class="bi bi-heart-fill"></i> Liked Songs
                </a>    
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active">
                    <i class="bi bi-person-fill"></i> Profile <i class="bi bi-caret-down-fill iNot"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="profile-items">
        <p>No account yet.</p>
        <button class="nav-btn" routerLink="/login">
                Create Account
        </button>
    </div>
</aside>
