:root{
    --main-orange: #fca400;
    --main-grey: #131313;
    --secondary-grey: #181818;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--main-grey);
}