:root{
    --main-orange: #fca400;
    --main-grey: #131313;
    --secondary-grey: #181818;
    --font-color: #fff9f4;
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Public Sans", sans-serif;
    color: var(--font-color);
}

body{
    margin: 0px;
    padding: 0px;
}
.btn{
    background-color: #fff9f4;
    color: #131313;
    font-weight: 900;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 50px;
    width: 170px;
}
.btn:hover{
    background-color: #1c1c1c;
    border: 3px solid white;
    color: #fff;
    transition: 0.3s all;
}