:root{
    --main-orange: #d15d1e;
    --main-grey: #131313;
    --secondary-grey: #181818;
    --font-color: #fff9f4;
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Public Sans", sans-serif;
    color: var(--font-color);
}

body{
    background-color: var(--secondary-grey);
    margin: 0px;
    padding: 0px;
}
.btn{
    background-color: #fff9f4;
    color: #131313;
    font-weight: 900;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 50px;
    width: 170px;
}
.btn:hover{
    background-color: #1c1c1c;
    border: 3px solid white;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}

/* home */

.trending-album{
    display: flex;
    flex-direction: column;
    color: #dadada;
    width: 150px;
    padding: 0.8rem;
    gap: 0.22rem;
}
.trending-album h3{
    font-size: 16px;
}
.trending-album p{
    font-size: 12px;
    color: #dadadaca;
}


/* library */

.library-item{
    display: flex;
    gap: 20px;
    border-radius: 5px;
    background-color: #ffffff00;
    padding: 1rem 1rem;

}
.library-item:hover{
    cursor: pointer;
    transition: 0.3s all;
    background-color: #ffffff27;
    border-color: white;

}
.library-item img{
    height: 85px;
}
.item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.item-info h3{
    font-size: 18px;
}
.item-info p{
    font-size: 14px;
    color: #ffffff57;
}
.item-number, .item-options{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}
.item-options{
    font-size: 20px;
}
.item-options:hover{
    cursor: pointer;
}