<footer>
    <ul>
        <li><a href="">Waima</a></li>
        <li><a href="">Dzwonia</a></li>
        <li><a href="">Dziwki</a></li>
    </ul>
    <ul>
        <li><a href="">Waima</a></li>
        <li><a href="">Dzwonia</a></li>
        <li><a href="">Dziwki</a></li>
    </ul>
    <ul>
        <li><a href="">Waima</a></li>
        <li><a href="">Dzwonia</a></li>
        <li><a href="">Dziwki</a></li>
    </ul>
    <ul>
        <li><a href="">Waima</a></li>
        <li><a href="">Dzwonia</a></li>
        <li><a href="">Dziwki</a></li>
    </ul>
</footer>